*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #919299;
  background-color: #fff;
}

a {
  color: #aaaaab;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1205px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0;
}

.header__menu {
  display: flex;
}

.header__menu-item + .header__menu-item {
  margin-left: 70px;
}

.header__menu-link {
  font-size: 20px;
  line-height: 1.3;
}

.header__menu-link:hover {
  color: #56597a;
}

.vector__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.top {
  height: 100vh;
}

.top__inner {
  padding-top: 216px;
  display: flex;
}

.top__info {
  max-width: 640px;
}

.top__suptitle {
  font-size: 28px;
  line-height: 1.3;
  color: #f78cb6;
  position: relative;
  padding-left: 44px;
}

.top__suptitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 36px;
  height: 3px;
  background: #f78cb6;
}

.top__title {
  font-weight: 700;
  font-size: 64px;
  color: #56597a;
  margin-top: 28px;
}

.top__subtitle {
  max-width: 580px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #919299;
  margin-top: 30px;
}

.top__button {
  margin-top: 42px;
}

.button {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  background-color: #f78bb6;
  color: #fff;
  border: 1px solid #f78bb6;
  border-radius: 4px;
  width: 216px;
  padding: 16px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 18px;
  cursor: pointer;
}
